* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    background: #333;
    padding: 1.5em;
    color: white;
}
header h1 {
    line-height: 0.5em;
}
.container {
    width: 67%;
    margin: 0 auto;
    padding: 2em 0em;
}
body {
    padding: 0;
    margin: 0;
    background-color: #cfdbd5;
    width: 100vw;
    height: 100vh;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 22.5em;
    padding: 1em 2em;
    background: white;
    border-radius: 10px;
    text-align: center;


    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#bookForm h2 {
    color: #f2542d;
}

#title, #author, #pages {
    padding: 1em;
    border-radius: 2em;
    border: 1px solid #999;
    margin-bottom: 10px;
}

#title::placeholder, #author::placeholder, #pages::placeholder {
    color: #999;
}
button {
    border-radius: 2em;
    border: none;
    padding: 1em;
    background: none;
}

.add_button {
    background-color: black;
    color: white;
    margin-bottom: 2em;
    width: 10em;
}


.remove_button {
    background-color: #218380;
    color: white;
    width: 10em;
    align-self: flex-end;
    margin: 0 auto;
}